#  ========== repositories ==============

[submodule "repositories/stable-diffusion"]
    url = https://github.com/CompVis/stable-diffusion.git
    path = repositories/stable-diffusion

[submodule "repositories/taming-transformers"]
    url = https://github.com/CompVis/taming-transformers.git
    path = repositories/taming-transformers

[submodule "repositories/CodeFormer"]
	url = https://github.com/SuCicada/CodeFormer.git
    path = repositories/CodeFormer
;     batch = c5b4593074ba6214284d6acd5f1719b6c5d739af

[submodule "repositories/BLIP"]
    url = https://github.com/salesforce/BLIP.git
    path = repositories/BLIP

[submodule "repositories/k-diffusion"]
    url = https://github.com/crowsonkb/k-diffusion.git
    path = repositories/k-diffusion

[submodule "repositories/stable-diffusion-stability-ai"]
    url = https://github.com/Stability-AI/stablediffusion.git
    path = repositories/stable-diffusion-stability-ai

[submodule "repositories/k-diffusioni"]
    url = https://github.com/crowsonkb/k-diffusion.git
    path = repositories/k-diffusion

[submodule "repositories/generative-models"]
	path = repositories/generative-models
	url = https://github.com/Stability-AI/generative-models.git

#  ========== extensions ==============

[submodule "extensions/stable-diffusion-webui-images-browser"]
    url = https://github.com/yfszzx/stable-diffusion-webui-images-browser.git
    path = extensions/stable-diffusion-webui-images-browser

[submodule "extensions/sd-webui-controlnet"]
	path = extensions/sd-webui-controlnet
	url = https://github.com/Mikubill/sd-webui-controlnet.git
[submodule "extensions/openpose-editor"]
	path = extensions/openpose-editor
	url = https://github.com/fkunn1326/openpose-editor.git

[submodule "extensions/rembg"]
	path = extensions/rembg
	url = https://github.com/AUTOMATIC1111/stable-diffusion-webui-rembg.git
[submodule "extensions/additional-networks"]
	path = extensions/additional-networks
	url = https://github.com/kohya-ss/sd-webui-additional-networks
[submodule "extensions/lora-block-weight"]
	path = extensions/lora-block-weight
	url = https://github.com/hako-mikan/sd-webui-lora-block-weight
[submodule "extensions/supermerger"]
	path = extensions/supermerger
	url = https://github.com/hako-mikan/sd-webui-supermerger
[submodule "extensions/composable-lora"]
	path = extensions/composable-lora
	url = https://github.com/a2569875/stable-diffusion-webui-composable-lora
[submodule "extensions/deforum"]
	path = extensions/deforum
	url = https://github.com/deforum-art/sd-webui-deforum
[submodule "https://github.com/SuCicada/CodeFormer.git"]
	url = repositories/CodeFormer
