#  ========== repositories ==============

[submodule "repositories/stable-diffusion"]
    url = https://github.com/CompVis/stable-diffusion.git
    path = repositories/stable-diffusion

[submodule "repositories/taming-transformers"]
    url = https://github.com/CompVis/taming-transformers.git
    path = repositories/taming-transformers

[submodule "repositories/CodeFormer"]
    url = https://github.com/sczhou/CodeFormer.git
    path = repositories/CodeFormer
    batch = c5b4593074ba6214284d6acd5f1719b6c5d739af

[submodule "repositories/BLIP"]
    url = https://github.com/salesforce/BLIP.git
    path = repositories/BLIP

[submodule "repositories/k-diffusion"]
    url = https://github.com/crowsonkb/k-diffusion.git
    path = repositories/k-diffusion

[submodule "repositories/stable-diffusion-stability-ai"]
    url = https://github.com/Stability-AI/stablediffusion.git
    path = repositories/stable-diffusion-stability-ai

[submodule "repositories/k-diffusioni"]
    url = https://github.com/crowsonkb/k-diffusion.git
    path = repositories/k-diffusion

#  ========== extensions ==============

[submodule "extensions/deforum-for-automatic1111-webui"]
    url = https://github.com/deforum-art/deforum-for-automatic1111-webui.git
    path = extensions/deforum-for-automatic1111-webui

[submodule "extensions/stable-diffusion-webui-images-browser"]
    url = https://github.com/yfszzx/stable-diffusion-webui-images-browser.git
    path = extensions/stable-diffusion-webui-images-browser

[submodule "extensions/sd-webui-controlnet"]
	path = extensions/sd-webui-controlnet
	url = https://github.com/Mikubill/sd-webui-controlnet.git
[submodule "extensions/openpose-editor"]
	path = extensions/openpose-editor
	url = https://github.com/fkunn1326/openpose-editor.git

[submodule "extensions/rembg"]
	path = extensions/rembg
	url = https://github.com/AUTOMATIC1111/stable-diffusion-webui-rembg.git
[submodule "extensions/wd14-tagger"]
	path = extensions/wd14-tagger
	url = https://github.com/toriato/stable-diffusion-webui-wd14-tagger.git
